@media (max-width:768px) {


 section .container header .bar-icon{
    display: block;}

 section .container header nav{
    display: none;}

section .container header .logo h4{
  font-weight:600;
  font-size: 16px;}


section .container main h1{

    font-size: 40px;}

section .container main p{ 
    font-size: 16px;
padding-top: 30px;}

.about .container .picbx .fimg,
.about .container .picbx .simg{

    width: 55%;
    height: 60%;
    

}

.about .container .picbx .fimg img,
.about .container .picbx .simg img{

    width: 100%;
    height: 100%;}

.up-footer .content{    
font-size: 13px;
gap: 10px;

}

 .stay .stay2 .con{
    padding-left: 8px;
margin-bottom: 8px;
} 

.stay .stay2 .con h3{

    padding: 5px 0px;
    font-size: 18px;
        
        }   


.stay .stay2 .con h4,
.stay .stay2 .con p{


    padding: 5px 0px;
    font-size: 12px;
    
    }
    
.stay .stay2 .con form .fo,
.stay .stay2 .con form .se
{
    height: 25px;
    font-size: 10px;
    
    }
.footer-mid .container{
    flex-wrap: wrap;
    font-size: 12px;
    justify-content:baseline;
    gap: 20px;


}

.footer-down {
height: 18vh;
font-size: 10px;

}
footer{

    height: 5vh;
    line-height: 5vh;
font-size: 10px;
}

}